/* body{
    background-image: url(/img/gh.jpg);
    background-size: cover;
} */
.container{
    filter: opacity(80%);
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7rem;
    font-weight: bold;
    color: aliceblue;
}
li{
   font-weight: bold; 
   font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar a{
    font-size: 26px;
    font-weight: bold;
}
h2{
    font-size: 20px;
    color: var(--main-color);
}
h5{
    color:white;
    font-size: 1.7rem;
}
p{
    color: aliceblue;
    font-size: 1.2rem;
}
.da{
    font-size: 5rem;
}
hr{
    color: aliceblue;
}